{{ define "main" }}

{{ if eq .Type "posts" }}
<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {{ partial "share.html" . }}
        </div>

        <!-- Post -->
        {{ $author := index .Site.Data.authors .Params.author }}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                <!-- Author Box -->
                {{ if .Params.author }}
                <div class="row post-top-meta">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center text-md-left mb-4 mb-md-0">
                        {{ if $author.avatar }}
                        <img class="author-thumb" src="{{ $author.avatar | relURL }}" alt="{{ $author.display_name }}">
                        {{ else }}
                        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ $author.gravatar }}?s=250&d=mm&r=x" alt="{{ $author.display_name }}">
                        {{ end }}
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center text-md-left">
                        <a target="_blank" class="link-dark" href="{{ $author.web }}">{{ $author.display_name }}</a><a target="_blank" href="{{ $author.twitter }}" class="btn follow">Follow</a>
                        <span class="author-description">{{ $author.description }}</span>
                    </div>
                </div>
                {{ end }}

                <!-- Post Title -->
                <h1 class="posttitle">{{ .Title }}</h1>

            </div>

            <!-- Adsense if enabled from config -->
            {{ if eq .Site.Params.adsense "enabled" }}
                {{ partial "adsense-under-header.html" . }}
            {{ end }}
            <!-- End Adsense -->

            <!-- Post Featured Image -->
            {{ if .Params.image }}

            {{ if eq .Site.Params.lazyImages "enabled" }}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
            {{ else }}
            <img class="featured-image img-fluid" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
            {{ end }}

            {{ end }}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {{ if .Params.toc }}
                    {{ if .Params.beforetoc }}
                        <p><em>{{ .Params.beforetoc }}</em></p>
                    {{ end }}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {{ .TableOfContents }}
                    </div>
                {{ end }}
                <!-- End Toc -->
                {{ .Content }}
            </div>

            <!-- Rating -->
            {{ if .Params.rating }}
            <div class="rating mb-4 d-flex align-items-center">
                <strong class="mr-1">Rating:</strong> {{ partial "star_rating.html" . }}
            </div>
            {{ end }}

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></span>           
                {{ if .Lastmod }}
                (Updated: <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="dateModified">{{ .Lastmod.Format "Jan 2, 2006" }}</time>)
                {{ end }}
                </small>
            </p>

            <!-- Post Categories -->
            <div class="after-post-cats">
                <ul class="tags mb-4">
                    {{ range .Params.categories }}
                    <li>
                        <a class="smoothscroll" href="{{ (printf "categories/%s" (. | urlize)) | relURL }}">{{ . }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <!-- End Categories -->

            <!-- Post Tags -->
            <div class="after-post-tags">
                <ul class="tags">
                    {{ range .Params.tags }}
                    <li>
                        <a class="smoothscroll" href="{{ (printf "tags/%s" (. | urlize)) | relURL }}">#{{ . }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <!-- End Tags -->

            <!-- Prev/Next -->
            <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
            {{ with .PrevInSection }}
            <a class="prev d-block col-md-6" href="{{ .RelPermalink }}"> &laquo; {{ .Title }}</a>
            {{ end }}
            {{ with .NextInSection }}
            <a class="next d-block col-md-6 text-lg-right" href="{{ .RelPermalink }}">{{ .Title }} &raquo; </a>
            {{ end }}
            <div class="clearfix"></div>
            </div>
            <!-- End Categories -->

        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->

<!-- Begin Comments
================================================== -->
{{ if ne .Params.comments false }}
    <div class="container">
        <div id="comments" class="row justify-content-center mb-5">
            <div class="col-md-8">
                {{ partial "disqus.html" . }}
            </div>
        </div>
    </div>
{{ end }}
<!--End Comments
================================================== -->

<!-- Review with LD-JSON -->
{{ if .Params.rating }}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ .Title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ $author.display_name }}"
  },
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ .Params.rating }}",
    "bestRating": "5"
  }
}
</script>
{{ end }}

{{ else }}
<!-- Regular Page -->
<section>
    <div class="section-title">
        <h2><span>{{ .Title }}</span></h2>
    </div>

    <div class="article-post">
    {{ .Content }}
    </div>

    {{ if .Params.comments }}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {{ partial "disqus.html" . }}
        </div>
    </div>

    {{ end }}
</section>
{{ end }}

{{ end }}

